In [1]:
import pandas as pd

df = pd.read_csv('wr_draft_data_2013_2022.csv')
df.head()

   Year                 Player        College  Pick  Round Team
0  2013           Tavon Austin  West Virginia     8    NaN  STL
1  2013        DeAndre Hopkins        Clemson    27    NaN  HOU
2  2013  Cordarrelle Patterson      Tennessee    29    NaN  MIN
3  2013          Justin Hunter      Tennessee    34    NaN  TEN
4  2013           Robert Woods            USC    41    NaN  BUF

In [2]:
len(df)

319

In [3]:
df.columns

Index(['Year', 'Player', 'College', 'Pick', 'Round', 'Team'], dtype='object')